DOMUX_AGENT_NAME=edge-2
DOMUX_AGENT_LISTEN=:8890
DOMUX_AGENT_RUNTIME=docker
DOMUX_AGENT_SOCKET=/var/run/docker.sock
DOMUX_AGENT_TLS_CERT=/etc/domux/certs/agent.pem
DOMUX_AGENT_TLS_KEY=/etc/domux/certs/agent-key.pem
DOMUX_AGENT_TLS_CA=/etc/domux/certs/ca.pem
